{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="container text-center">
  <h1>{% trans "Sign Up" %}</h1>
  <div class="container-align">
    <div class="container-style">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="p-2">
          <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label><br>
          {{ form.username }}
          {% for error in form.username.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="p-2"> 
          <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label><br>
          {{ form.email }}
          {% for error in form.email.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="p-2"> 
          <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label><br>
          {{ form.password1 }}
          {% for error in form.password1.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="p-2">
          <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label><br>
          {{ form.password2 }}
          {% for error in form.password2.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
            <ul style="font-size: smaller;">
              <li>Your password should be at least 8 characters long and include at least:</li>
              <li>1 letter</li>
              <li>1 number</li>
              <li>1 special character</li>
            </ul>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class=" btn btn-sillytalks p-2">{% trans "Sign Up" %} &raquo;</button>
      </form>
      <hr>
      <a href="{% provider_login_url 'google' %}" class="btn btn-google"><img src="/static/images/Google.png" alt="google logo" style="width: 20px; height: 20px;"> Sign Up with Google</a>
    </div>
  </div>
  <p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign In</a>.{% endblocktrans %}</p>
</div>
<button onclick="goBack()" class="btn btn-back btn-secondary">Go Back</button>
{% endblock content %}
