{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>
  <!-- first container home page -->
  <div class="container-fluid text-center first-container">
    <h1 class="welcome">Welcome to</h1>
    <h2 class="welcome-text">Silly Talks</h2>
    <p class="welcome-explanation">This is the website where you can read, send and judge other people's silly stories.<br>
        Your judgement literally counts!
    </p>
  </div>

  <!-- second container home page -->
  <div class="container-fluid text-center scd-container">
    <div class="row text-center">
      <div class="col-md-6 pd-card"> 
        <div class="row g-3">
          <p class="card-font">You tell us your story...</p>
          <div class="card-body">
            <p class="card-text p-4 quotes-card"><span class="card-font">"My mum doesn't know I like boys"</span><br>She thinks I'm a lesbian
            and she's proud because she also is, but I would never kiss a girl!</p>
          </div>
          <div class="card-body">
            <p class="card-text p-4 quotes-card"><span class="card-font">"I betrayed my best friend"</span><br> She doesn't know I got this
              job position because I spoke badly of her, but she deserved!</p>
          </div>
          <div class="card-body">
            <p class="card-text p-4 quotes-card"><span class="card-font">"My husband's family doesn't know I smoke"</span><br>They are all smokers but
            what I really like is heroin but I'm pregnant now. Should I stop it?</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 pd-card">
        <div class="row">
          <div class="col-md-12">
            <p class="card-font">And we help you to figure it out!</p>
            <div class="judge-card p-4">
              <p>What do you think about it?</p>
              <ul>
                <li><i class="fa-regular fa-face-tired fa-bounce fa-2xl"></i> Not silly: seek help</li>
                <li><i class="fa-regular fa-face-grin-tongue fa-spin-pulse fa-2xl"></i> Silly: you're fine</li>
                <li><i class="fa-regular fa-face-surprise fa-beat fa-2xl"></i> More info: we need more of this tea</li>
              </ul> 
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>


 <!-- third container home page -->
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-6">
          <div class="card-body background text-white">
            <ul>
              <li><i class="fa-regular fa-face-dizzy"></i>To rate</li>
              <li><i class="fa-regular fa-face-smile-wink"></i>to comment</li>
              <li><i class="fa-regular fa-face-surprise"></i>to be noticed</li>
              <button type="submit" class="btn btn-danger">Register</button>
            </ul>
          </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name that will appear on your story">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="What is the title of your story?">
              </div>
              <div class="form-group textarea-margin">
                <label for="exampleFormControlTextarea1">Your story goes here:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell your silly story here"></textarea>
              </div>
              <button type="submit" class="btn btn-danger">Send</button>
              </div>
            </form>
          </div>
        </div>  
      </div>
    </div>
  </div>
</main>
{% endblock content %}