{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<main>
  <!-- first container home page - welcome message -->
  <div class="container-fluid text-center first-container">
    <h1 class="welcome">Welcome to</h1>
    <h2 class="welcome-text">Silly Talks</h2>
    <p class="welcome-explanation">This is the website where you can read, send and judge other people's silly stories.<br>
        Your judgement literally counts!
    </p>
  </div>

  <!-- second container home page - explanation about how te website works. -->
  <div class="container-fluid text-center scd-container">
    <div class="row text-center">
      <div class="col-md-6 pd-card"> 
        <div class="row g-3">
          <p class="card-font">You tell us your story...</p>
          <div class="card-body">
            <p class="card-text p-4 quotes-card"><span class="card-font">"My mum doesn't know I like boys"</span><br>She thinks I'm a lesbian
            and she's proud because she also is, but I would never kiss a girl!</p>
          </div>
          <div class="card-body">
            <p class="card-text p-4 quotes-card"><span class="card-font">"I betrayed my best friend"</span><br> She doesn't know I got this
              job position because I spoke badly of her, but she deserved!</p>
          </div>
          <div class="card-body">
            <p class="card-text p-4 quotes-card"><span class="card-font">"My husband's family doesn't know I smoke"</span><br>They are all smokers but
            what I really like is crack but I'm pregnant now. Should I stop it?</p>
          </div>
          <button type="submit" class="btn btn-sillytalks" style="max-width: 12em;"><a class="nav-link" aria-current="page"
            href="{% url 'sillytalks' %}">Read more stories</a></button>
        </div>
      </div>
      <div class="col-md-6 pd-card">
        <div class="row">
          <div class="col-md-12">
            <p class="card-font">And we help you to figure it out!</p>
            <div class="judge-card p-4">
              <p>What do you think about it?</p>
              <ul>
                <li><i class="fa-regular fa-face-tired fa-bounce fa-2xl"></i><strong> NOT SILLY:<br></strong> your problem is more serious than you think. Seek help!</li>
                <li><i class="fa-regular fa-face-grin-tongue fa-spin-pulse fa-2xl"></i> <strong> SILLY:<br></strong> it's really silly, you're fine!</li>
                <li><i class="fa-regular fa-face-surprise fa-beat fa-2xl"></i> <strong> MORE INFORMATION:<br></strong> give us more of this tea so we can judge!</li>
              </ul> 
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>


 <!-- third container home page - register button and form to get anonimous stories -->
  <div class="container-fluid text-center third-container">
    <div class="row">
      <div class="col-md-6">
        <p class="card-font">Start the Silliness</p>
          <div class="card-body register-card text-center">
            <ul>
              <li><i class="fa-regular fa-heart fa-2xl"></i></li>
              <li>To vote</li>
              <li><i class="fa-regular fa-comment fa-2xl"></i></li>
              <li>To comment</li>
              <li><i class="fa-regular fa-bell fa-2xl"></i></li>
              <li>And to be notified of new stories</li>
              {% if user.is_authenticated  %}
                <button type="submit" class="btn btn-sillytalks"><a class="nav-link" aria-current="page"
                  href="{% url 'sillytalks' %}">Start the silliness</a></button>
              {% else %}
                <button type="submit" class="btn btn-sillytalks"><a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                  href="{% url 'account_signup' %}">Register</a></button>
              {% endif %}
            </ul>
          </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p class="card-font">Make a contribution: send us your silly story!</p>
          <p>If you want to send your story anonymously, fill out the form below</p>
          <div class="col-md-12 form-card">
            <form method="post">
              {{ collaborate_form | crispy }}
              {% csrf_token %}
              <button class="btn btn-form"
                type="submit">Submit</button>
            </form>
          </div>
        </div>  
      </div>
    </div>
  </div>
</main>
{% endblock content %}