
.main-bg {
    background-color: #F9FAFC;
}

.nav {
    --bs-nav-link-color: #693d69;
}

.last-login {
    font-size: 15px;
    align-self: center;
}

.comment-section {
    padding: 3rem;
}

.margin-containers {
    margin-top: 20px;
}


.post-link {
    text-decoration: none;
    color: #2f2738;
}

.post-card {
    background-color: #c27bbcc0;;
    color:#F9FAFC;
    padding: 1.5em;
    margin: 1em;
    border-radius: 1em;
    height: 100%
}

.cards-margin {
    margin-bottom: 1em;
}

.my-main {
    padding: 5rem;
}

.card-title {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.card-info {
    font-size: 13px;
    color:#300519;
    text-align: center;
}

.excerpt-text {
    text-align: justify;
}

.textarea-margin {
    margin-top: 2.5rem;
}

.tiny-text {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.nav-title {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #630d5c;
}

.footer-text {
    color: #F9FAFC;
    font-size: 15px;
}

.post-content {
    background-color: #dba2d8;
}

.btn-centralize {
    align-self: center;
}

.btn-sillytalks {
    background-color: #dba2d8;
}

.btn-form {
    background-color: #ffffff;
    color: #630d5c;
}

ul {
    list-style-type: none;
}

.quotes-card {
    border-radius: 20px;
    border-left: 6px solid #c27bbcc0;
}

.welcome-text {
    font-family: "DM Serif Display", serif;
    font-size: 5rem;
}

.welcome {
    font-family: "DM Serif Display", serif;
    padding-top: 50px;
}

.welcome-explanation {
    font-size: 1.5rem;
    margin: 30px;
}

.first-container {
    min-height: 30rem;
    background-image: linear-gradient( rgba(248,249,250), rgba(182, 131, 224, 0.377), rgba(255, 0, 140, 0.336), rgb(255, 255, 255));
}

.scd-container {
    min-height: 30rem;
    background-color: rgb(255, 255, 255);
}

.third-container {
    min-height: 30rem;
    background-color: rgb(255, 255, 255);
}

.pd-card {
    padding: 90px;
}

.card-font {
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
}

.judge-card {
    margin-top: 3rem;
    min-height: 30rem;
    border-left: 6px solid #c27bbcc0;
    border-radius: 20px;
}

div.judge-card ul li{
    margin: 3em;
    text-align: left;
    font-size: 1.5rem;
}

.register-card {
    min-height: 15rem;
    border: 4px solid #c27bbcc0 ;
    border-radius: 20px;
    margin: 3em 10em;
    padding: 20px;
    vertical-align: middle;
}

div.register-card ul li{
    margin: 1em;
}

div.register-card ul {
    padding: 10px
}

.form-card {
    min-height: 15rem;
    background-color: #c27bbcc0;
    border-radius: 20px;
    margin: 50px 0px;
    max-width: 40rem;
    padding: 20px;
    vertical-align: middle;
}

.search-bar {
    margin-bottom: 20px;
    align-self: center;
}

.comment-box {
    border: 2px solid #868486c0 ;
    border-radius: 20px;
}

.comment-text {
    background-color: #dba2d836;
    border-radius: 20px;
    margin-bottom: 10px;
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item {
    display: inline-block;
    margin-right: 5px;
}

.pagination .page-item a {
    color: #4c0f5c;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    margin-top: 2.5rem;
    background-color: #dba2d8;
}

.pagination .page-item.active a {
    background-color: #430069;
    color: #fff;
}

.pagination .page-item.disabled a {
    color: #6c757d;
    cursor: not-allowed;
    background-color: #fff;
}

.pagination .page-item.disabled a:hover {
    background-color: #fff;
}

.vote-button {
    margin-right: 10px;
    border-radius: 100%;
    background-color: #3d013a;
    color: white;
    height: 45px;
}

body {
    background-color: #F9FAFC;
    font-family: "Comfortaa", sans-serif;
}

.col-2 {
    padding-top: 10px;
}

.dark-bg {
    background-color: #3d013a;
}

.btn-danger {
    margin-top: 0.5rem;
}

.post-title {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.card {
    padding-bottom: 10px;
}

/* se der problema de alinhamento, tira isso */
.row {
    justify-content: center;
}

.auth-style {
    border: 4px solid #c27bbcc0 ;
    border-radius: 20px;
    padding: 20px;
    max-width: 50em;
    margin-bottom: 20px;
}

.auth-container {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 10px;
    border: 2px solid #c27bbcc0
}

.vote-align {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.start-voting {
    font-family: "DM Serif Display", serif;
    font-size: 40px;
}

.btn-google {
    width: 15em;
    border-radius: 20px;
    border: 2px solid #c27bbcc0;
    margin-bottom: 15px;
}

.btn-back {
    max-width: 6em;
    margin: 2em;
}

.form-control {
    max-height: 10em;
}

.post-list {
    background-color: #f9d1f7;
    padding-top: 15px;
    margin: 2em 5em;
    border-radius: 20px;
}

.postlist-title {
    font-size: 20px;
    text-decoration: none;
    color: #2f2738;
    font-weight: 700;
}

#id_bio {
    max-height: 5em;
    border: 2px solid #c27bbcc0;
    border-radius: 10px;
}

#id_gender {
    border: 2px solid #c27bbcc0;
    border-radius: 10px;
}

footer a {
    color: white;
}

.btn-width-mq {
    width: 40rem;
    margin-left: 450px;
}
/* media query */

@media only screen and (max-width: 1000px) {

    .register-card {
        margin: 3.5em 0em;
    }
    .form-card {
        max-width: 30rem;
    }
    div.judge-card ul li {
        margin: 2em;
        font-size: 1.3rem;
    }
    .profile-mq {
        max-width: 30em;
    }
}
@media only screen and (max-width: 768px) {

    .register-card {
        margin: 0em;
    }
    .form-card {
        max-width: 20rem;
        margin: 50px 0px 50px 50px;
    }
    div.judge-card ul li {
        font-size: 1rem;
        margin: 1.5em;
    }
    .judge-card {
        min-height: 0rem;
    }
    .profile-mq {
        max-width: 25em;
    }
    #id_bio {
        max-width: 20rem;
    }

    #id_picture {
        max-width: 20rem;
    }
    .btn-width-mq {
        width: 40rem;
        margin-left: 300px;
    }

}
@media only screen and (max-width: 375px) {

    .pd-card {
        padding: 30px;
    }

    .form-card {
        margin: 30px;
    }

    /* from here */
    .post-card-mq {
        width: 17em;
    }

    .card-font {
        margin-top: 30px;
    }

    .my-main {
        padding: 2rem;
    }

    .post-list {
        padding: 25px;
        width: 15em;
        align-self: center;
    }

    .search-bar {
        max-width: 17em;
        align-self: center;
    }

    .navbar-brand {
        margin-left: var(--bs-navbar-brand-margin-end);
    }

    .post-call {
        margin: 12px;
    }

    .comment-section {
        padding: 1rem;
    }

    .profile-mq {
        max-width: 20em;
    }

    img, svg {
        margin-bottom: 20px;
    }
    #id_bio {
        max-width: 16rem;
    }

    #id_picture {
        max-width: 16rem;
    }
    .btn-width-mq {
        width: 20rem;
        margin-left: 70px;
    }


}