{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container text-center auth-style">
    <div class="row auth-container">
            <h3>Add a Post</h3>
            <p>Tell us your silly story here and we'll approve it in 2 working days</p>
    </div>

    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title | as_crispy_field }}
            {{ form.excerpt | as_crispy_field }}
            {{ form.content | as_crispy_field }}
            </select>
            <br>
            <button type="submit" class="btn btn-sillytalks"> Submit</button>
            <a href="{% url 'home' %}" role="button" class="btn btn-sillytalks">Go back</a>
        </form>
    </div>
</div>

{% endblock %}