{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% include 'navbar_profile.html' %}
<br>

<!-- Displays a list of posts that the user made -->
<h3 class="text-center">Manage my posts</h3>

{% if user_posts %}
    {% for post in user_posts %}
        <div class="post-list">
            <ul>
                <li><a href="{% url 'post_detail' post.slug %}" class="postlist-title">{{ post.title }} | Sent by: {{ post.author.username }}</a></li>
                <li> {{ post.excerpt }} </li>
            </ul>
        </div>
    {% endfor %}
{% else %}
    <div class="post-list p-3">
        <p>No posts yet.</p>
    </div>
{% endif %}

<button onclick="goBack()" class="btn btn-secondary btn-back">Go Back</button>
{% endblock %}