{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Displays the go back button -->
<button onclick="goBack()" class="btn btn-back btn-secondary">Go Back</button>

<!-- Displays a form the update the post -->
<div class="container auth-style margin-containers profile-mq text-center">
    <div class="row auth-container">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Edit Post:<br></h3>
            <p>{{ post.title }}</p>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
        {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-sillytalks">Update</button>
            </form>
    </div>
    <br>
</div>

{% endblock %}