{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% endblock profile-nav %}

<p>not silly:</p>
{% if liked_posts %}
    {% for post in liked_posts %}
        <!-- <h3>{{ post.title }}</h3>
        <p>{{ post.message }}</p> -->
        <ul>
            <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }} | Sent by: {{ post.author.username }}</a></li>
            <li> {{ post.excerpt }} </li>
        </ul>    
    {% endfor %}
{% else %}
    <p>No not silly posts yet.</p>
{% endif %}
<hr>
<p>moreinfo:</p>
{% if more_posts %}
    {% for post in more_posts %}
        <!-- <h3>{{ post.title }}</h3>
        <p>{{ post.message }}</p> -->
        <ul>
            <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }} | Sent by: {{ post.author.username }}</a></li>
            <li> {{ post.excerpt }} </li>
        </ul>    
    {% endfor %}
{% else %}
    <p>No more info posts yet.</p>
{% endif %}
<hr>
<p>silly:</p>
{% if sillied_posts %}
    {% for post in sillied_posts %}
        <!-- <h3>{{ post.title }}</h3>
        <p>{{ post.message }}</p> -->
        <ul>
            <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }} | Sent by: {{ post.author.username }}</a></li>
            <li> {{ post.excerpt }} </li>
        </ul>    
    {% endfor %}
{% else %}
    <p>No sillied posts yet.</p>
{% endif %}
<hr>
<p>commented:</p>
{% if commented_posts %}
    {% for post in commented_posts %}
        <!-- <h3>{{ post.title }}</h3>
        <p>{{ post.message }}</p> -->
        <ul>
            <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }} | Sent by: {{ post.author.username }}</a></li>
            <li> {{ post.excerpt }} </li>
        </ul>    
    {% endfor %}
{% else %}
    <p>No commented posts yet.</p>
{% endif %}
<button onclick="goBack()">Go Back</button>
{% endblock %}