{% extends 'base.html' %} {% block content %}
{% load static %}



<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1 class="post-title">{{ post.title }}</h1>
                <hr>
                <p class="card-text"> {{ post.excerpt }}</p>
                <p class="post-subtitle text-center">{{ post.author }} | {{ post.created_on }}</p> 
            </div>
            <p class="btn-centralize">
              <a class="btn btn-sillytalks" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                See the hole silliness here
              </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body post-card">
                    <p> {{ post.content | safe }} </p>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

{% endblock content %}