{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1 class="post-title">{{ post.title }}</h1>
                <hr>
                <p class="card-text"> {{ post.excerpt }}</p>
                <p class="post-subtitle text-center">{{ post.author }} | {{ post.created_on }}</p> 
            </div>
            <p class="btn-centralize">
              <a class="btn btn-sillytalks" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                See the hole silliness here
              </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body post-card">
                    <p> {{ post.content | safe }} </p>
                </div>
            </div>
            <br>
        </div>
    </div>
    <!-- Displaying count of comments and likes -->
  <div class="d-flex flex-row">
      <div class="col-1">
          <i class="fa-regular fa-comment fa-2xl"></i> {{ comment_count }}
      </div>
      <!-- <div class="likeCounter col-2" data-post-slug="{{ post.slug }}">
        <i class="fa-solid fa-thumbs-up fa-2xl"></i> {{ post.like_count }}
      </div> -->
  </div>
  <hr>
  <!-- Displaying Like button -->
  {% if user.is_authenticated %}
  <form class="d-inline" action="{% url 'post_vote' post.slug %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="vote_preference" value="like">
    <button type="submit" class="btn-like"><i class="far fa-light fa-thumbs-up"></i><span class="sr-only">Click here to Like the post</span></button>
  </form>
  
  <form class="d-inline" action="{% url 'post_vote' post.slug %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="vote_preference" value="silly">
    <button type="submit" class="btn-silly"><i class="far fa-light fa-thumbs-down"></i><span class="sr-only">Click here to vote Silly</span></button>
  </form>
  
  <div class="likeCounter col-2" data-post-slug="{{ post.slug }}">
    <i class="fa-solid fa-thumbs-up fa-2xl"></i> {{ post.like_count }}
    <i class="fa-solid fa-thumbs-down fa-2xl"></i> {{ post.silly_count }}
  </div>
  {% endif %}

  <div class="row">
  <!-- Displaying Comments -->
    <div class="col">
      <div class="col-md-12 card mb-4  mt-3 ">
        <h3 class="p-3">Comments:</h3>
        <div>
          {% if comments %}
            {% for comment in comments %}
            <div class="p-2 comments card-body
              {% if not comment.approved and comment.author == user %}
              faded{% elif not comment.approved %} d-none{% endif %}">
              <div class="comment-text p-3">
                <p class="font-weight-bold">
                  {{ comment.author }} <br>
                  <span class="font-weight-normal">
                    {{ comment.created_on }}
                  </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                  {{ comment.body | linebreaks }}
                </div>
              </div>
              {% if not comment.approved and comment.author == user %}
              <div class="comment-box p-3">
                <p class="approval">
                  Awaiting approval
                </p>
                {% endif %}
                {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-sillytalks btn-delete" comment_id="{{ comment.id }}">Delete</button>
                <button class="btn btn-sillytalks btn-edit" comment_id="{{ comment.id }}">Edit</button>
              </div>
              <hr>
              {% endif %}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
          {% else %}
            <div class="card-body">
              <p>No comments yet</p>
            </div>
          {% endif %}
        </div>
      </div>
      <!-- Creating New Comments -->
      <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Leave a comment:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="commentForm" method="post"
            style="margin-top: 1.3em;">
            {{ comment_form|crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-sillytalks">Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a comment</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
           btn-sillytalks">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<!-- <script src="{% static 'js/likes.js' %}"></script> -->

{% endblock %}