{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Displaying go back button -->

<button onclick="goBack()" class="btn btn-back btn-secondary">Go Back</button>

<!-- Displaying the detailed post -->

<div class="container">
    <div class="row post-call">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1 class="post-title">{{ post.title }}</h1>
                <hr>
                <p class="card-text"> {{ post.excerpt }}</p>
                <p class="post-subtitle text-center">{{ post.author }} | {{ post.created_on }}</p> 
            </div>
            <p class="btn-centralize">
              <a class="btn btn-sillytalks" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                See the whole silliness here
              </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body post-card">
                    <p> {{ post.content | safe }} </p>
                </div>
            </div>
            <br>
            <!-- Bawarchi Khana's project code to add edit and delete buttons to posts -->
            {% if user.is_authenticated and request.user == post.author %}
            <div class="container">
              <div class="row">
                <div class="col-2 btn-width-mq">
                    <div class="btn-group">                       
                        <a href="{% url 'update_post' post.slug %}" class="btn btn-sillytalks">
                            <i class="fa fa-edit"></i> Edit</a>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'delete_post' post.slug %}" class="btn btn-secondary">
                            <i class="far fa-trash-alt"></i> Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            <!-- End of Bawarchi Khana's project code -->
    </div>

    <!-- Displaying vote counts -->
    {% if user.is_authenticated %}
      <div class="row text-center">
        <p class="start-voting"> Start voting!</p>
      </div>
      <div class="d-flex flex-row voting-options text center">
        <!-- Not Silly vote and counter -->
        <div class="col-md-4 vote-align">
          <p> Not Silly: Seek help!</p>
          <form class="d-inline" action="{% url 'post_vote' post.slug %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="vote_preference" value="like">
            <button type="submit" class="btn-like vote-button text-center"><i class="fa-regular fa-face-tired fa-2xl"></i><span class="sr-only">Click here to vote not silly </span></button>
          </form>
          <div class="likeCounter col-2 text-center" data-post-slug="{{ post.slug }}"> {{ post.like_count }} </div>
        </div>
        <!-- Silly vote and counter -->
        <div class="col-md-4 vote-align">
          <p> Silly: You're fine!</p>
          <form class="d-inline" action="{% url 'post_vote' post.slug %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="vote_preference" value="silly">
            <button type="submit" class="btn-silly vote-button text-center"><i class="fa-regular fa-face-grin-tongue fa-2xl"></i><span class="sr-only">Click here to vote Silly </span></button>
          </form>
          <div class="likeCounter col-2 text-center" data-post-slug="{{ post.slug }}">{{ post.silly_count }}</div>
        </div>
        <!-- More information vote and counter -->
        <div class="col-md-4 vote-align">
          <p> More info: we need more of this tea!</p>
          <form class="d-inline" action="{% url 'post_vote' post.slug %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="vote_preference" value="moreinfo">
            <button type="submit" class="btn-more vote-button text-center"><i class="fa-regular fa-face-surprise fa-2xl"></i><span class="sr-only">Click here to vote more information </span></button>
          </form>
          <div class="likeCounter col-2 text-center" data-post-slug="{{ post.slug }}">
            {{ post.more_count }}
          </div>
        </div>
      </div>
    {% else %}
      <p>Log in to vote</p>
    {% endif %}
  </div>
  <hr>

  <!-- Displaying comment count and comments - Code Institute Walkthrough -->
  <div class="row comment-section">
    <div class="col">
      <div class="col-md-12 card mb-4  mt-3 ">
        <h3 class="p-3"><i class="fa-regular fa-comment"></i> {{ comment_count }} comments:</h3>
        <div>
          {% if comments %}
            {% for comment in comments %}
            <div class="p-2 comments card-body
              {% if not comment.approved and comment.author == user %}
              faded{% elif not comment.approved %} d-none{% endif %}">
              <div class="comment-text p-3">
                <p class="font-weight-bold">
                  {{ comment.author }} <br>
                  <span class="font-weight-normal">
                    {{ comment.created_on }}
                  </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                  {{ comment.body | linebreaks }}
                </div>
              </div>
              {% if not comment.approved and comment.author == user %}
              <div class="comment-box p-3">
                <p class="approval">
                  Awaiting approval
                </p>
                {% endif %}
                {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-sillytalks btn-delete" comment_id="{{ comment.id }}">Delete</button>
                <button class="btn btn-sillytalks btn-edit" comment_id="{{ comment.id }}">Edit</button>
              </div>
              <hr>
              {% endif %}
            </div>
            {% endfor %}
          {% else %}
            <div class="card-body">
              <p>No comments yet</p>
            </div>
          {% endif %}
        </div>
      </div>
      <!-- Creating New Comments -->
      <div class="col-md-11 card mb-4 mt-3 m-5">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Leave a comment:</h3>
          <p>(Max 500 characters)</p>
          <form id="commentForm" method="post"
            style="margin-top: 1.3em;">
            {{ comment_form|crispy }}
            {% csrf_token %}
            <p>Posting as: {{ user.username }}</p>
            <button id="submitButton" type="submit"
              class="btn btn-sillytalks">Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a comment</p>
          {% endif %}
        </div>
      </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
           btn-sillytalks">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>

{% endblock %}