{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<main>
  <h1>Welcome back, {{ user.username }}!</h1>
    <!-- dropdown menu -->
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Post</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add_post' username=user.username %}">New Post</a></li>
              <li><a class="dropdown-item" href="{% url 'user_posts' username=user.username %}">Manage Posts</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Profile</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Edit personal information</a></li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'liked_posts' username=user.username %}">Activity</a>
        </li>
      </ul>
    <!-- Welcome message -->

    <div class="container">
      <div class="row">
        <div class="col">
          {% if user_profile.picture %}
          <img src="{{ user_profile.picture.url }}" alt="Profile Picture" class="img-thumbnail">
          {% endif %}
        </div>
        <div class="col">
          <h2>Your personal information</h2>
          <p><strong>Username:</strong> {{ user.username }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p>Bio: {{ user_profile.bio }}</p>
          <p>Birth Date: {{ user_profile.birth_date }}</p>
          <p>Location: {{ user_profile.location }}</p>
          <p>Last Login Date: {{ user_profile.last_login_date }}</p>
          <p>Registration Date: {{ user_profile.registration_date }}</p>
          <p>Gender: {{ user_profile.get_gender_display }}</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  

    <h2>User Statistics</h2>
    <ul>
        <li>Number of Posts: {{ post_count }}</li>
        <li>Number of Comments: {{ comment_count }}</li>
        <li>Total Votes in your posts: {{ total_votes }}</li>
        <li>Total Votes given: {{ user_total_votes }}</li>

        
    </ul>


</main>
{% endblock content %}