{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<main>
  <h1 class="p-4">Welcome back, {{ user.username }}!</h1>
    <!-- displays nav bar ytemplate -->
    {% include 'navbar_profile.html' %}

    <!-- displays user's personal information -->
    <div class="container auth-style margin-containers profile-mq">
      <div class="auth-container" id="profile-container">
        {% if user_profile.picture %}
          <div class="col">
            <img src=" {{ user_profile.picture.url }}" alt="Profile Picture" class="img-thumbnail">
          </div>
        {% endif %}
        <div class="col">
          <h2 class="profile-title"><i class="fa-solid fa-address-card"></i> Your personal details</h2>
          <hr>
          <p><strong><i class="fa-solid fa-user"></i> Username:</strong> {{ user.username }}</p>
          <p><strong><i class="fa-solid fa-envelope"></i> Email:</strong> {{ user.email }}</p>

          <p><strong><i class="fa-solid fa-quote-left"></i> Bio:</strong> {{ user_profile.bio }}</p>
          <p><strong><i class="fa-solid fa-cake-candles"></i> Birth Date:</strong> {{ user_profile.birth_date }}</p>
          <p><strong><i class="fa-regular fa-user"></i> Gender:</strong> {{ user_profile.get_gender_display }}</p>
          <p><strong><i class="fa-solid fa-map-pin"></i> Location:</strong> {{ user_profile.location }}</p>
          <p><strong><i class="fa-solid fa-keyboard"></i> Registration:</strong> {{ user_profile.registration_date }}</p>

          <p>
            <button class="btn btn-sillytalks" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-square-poll-vertical"></i> User Statistics
            </button>
          
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <table class="table table-hover table-responsive">
                <thead>
                  <tr class="table-danger">
                    <th scope="col">Interaction</th>
                    <th scope="col">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Posts you've done</th>
                    <td>{{ post_count }}</td>
                  </tr>
                  <tr>
                    <th scope="row">You commented</th>
                    <td>{{ comment_count }}</td>
                  </tr>
                  <tr>
                    <th scope="row">You voted</th>
                    <td>{{ user_total_votes }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Votes in your posts</th>
                    <td>{{ post_total_votes }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>          
        </div>
      </div>
    </div>
</main>

{% endblock content %}