{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<main>
  <h1>Welcome back, {{ user.username }}!</h1>
    <!-- dropdown menu -->
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Post</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add_post' username=user.username %}">New Post</a></li>
              <li><a class="dropdown-item" href="{% url 'user_posts' username=user.username %}">Manage Posts</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Profile</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Personal information</a></li>
              <li><a class="dropdown-item" href="#">Edit personal information</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">History</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Voted posts</a></li>
              <li><a class="dropdown-item" href="#">Commented posts</a></li>
            </ul>
        </li>
      </ul>
    <!-- Welcome message -->

    <div class="container">
      <div class="row">
        <div class="col">
          {% if user_profile.picture %}
          <img src="{{ user_profile.picture.url }}" alt="Profile Picture" class="img-thumbnail">
          {% endif %}
        </div>
        <div class="col">
          <h2>Your personal information</h2>
          <p><strong>Username:</strong> {{ user.username }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p>Bio: {{ user_profile.bio }}</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
    


</main>
{% endblock content %}